.Loader {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: transparent;
  color: #f6f6f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 9999;
}
.Loader .LoaderLeft {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #1c4148;
  transition: all 0.75s ease-out;
  animation-delay: 2.25s;
  transform: translateX(0px);
  z-index: -2;
  animation: GreenLoaderLeft;
  -webkit-animation: GreenLoaderLeft ease-out;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
}

.Loader .LoaderRight {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #1c4148;
  transition: all 0.75s ease-out;
  animation-delay: 2.25s;
  transform: translateX(0px);
  z-index: -2;
  animation: GreenLoaderRight ease-out;
  -webkit-animation: GreenLoaderRight;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes GreenLoaderLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes GreenLoaderRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100%);
  }
}
