.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #c0868656;
}

.c-scrollbar_thumb {
  opacity: 0;
}
.background_img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.canvasSnow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
