.App {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #20193f;
}

.c-scrollbar_thumb {
  opacity: 0;
}
.background_img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.canvasSnow {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 101;
  top: 0vh;
}

.pulse,
.pulse:after {
  display: inline-block;
  padding: 0.25rem;
  border-radius: 50%;
  animation: pulse 1s 0.55s infinite ease-out;
  border: thick solid rgba(230, 230, 230, 0);
  transform: scale3d(0.7, 0.7, 0);
  transition: opacity 0.75s;
}
.pulse {
  position: absolute;
  left: 25%;
  top: 25%;
  margin-top: -50px;
  margin-left: -50px;
}
.pulse:after {
  display: block;
  content: "";
  padding: 2.5rem;
}

@keyframes pulse {
  50% {
    border-color: rgba(230, 230, 230, 0.3);
    background: transparent;
  }
  to {
    border-color: transparent;
    transform: none;
  }
}
