.header {
  position: fixed;
  width: 100%;
  height: 7.5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  color: #ae8867;
  text-transform: uppercase;
  font-size: calc(6px + 0.35vh + 0.35vw);
  background-color: rgb(0, 0, 0, 0.25);
  z-index: 9998;
  transition: opacity 1s ease-in-out;
}

.header .navbar-links {
  position: relative;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header .navbar-logo {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  align-items: center;
}

.navbar-links .navbar-links__link {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links .navbar-links__link span {
  cursor: pointer;
  transition: all 0.35s ease-out;
}
.navbar-links .navbar-links__link span:hover {
  color: #ddb088;
}
.navbar-logo .navbar-logo__span {
  cursor: pointer;
}

@media screen and (max-width: 490px) {
  .navbar-logo__span_hidden {
    display: none !important;
  }
  .navbar-links .navbar-links__link:nth-child(1) {
    font-size: 18px;
  }
}
