.Block_About {
  position: absolute;
  height: 70vh;
  width: 50vw;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: clip;
  overflow-x: visible;
  z-index: 500;
}
.Block_Aboutsticky {
  position: relative;
  width: 100%;
  height: 100%;
}
.Block {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: all 1s ease-out;
}
.aboutImageLeft {
  position: relative;
  width: 50%;
  height: 100%;
  object-fit: cover;
  background: rgb(0, 0, 0, 0.4);
  @media (max-width: 1920px) {
  }
}
.aboutImageLeft img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: all 0.35s ease-out;
  @media (max-width: 1920px) {
    height: inherit;
    width: -webkit-fill-available;
  }
}
.aboutBlockRight {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0, 0.2);
}
.aboutTextBlock {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: inherit;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  top: 5vh;
}
.aboutBlockRight h2 {
  font-family: "Inter";
  color: #ae8867;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10%;
  text-transform: uppercase;
}
.aboutBlockRight p {
  font-family: "Inter";
  color: #ceb8a4;
  font-weight: 400;
  font-size: 12px;
  text-transform: unset;
  line-height: 130%;
}
.aboutBlockRight img {
  position: relative;
  bottom: 16px;
  top: 0;
  margin-top: auto;
  position: relative;
  bottom: 0px;
  margin: auto;
  width: max-content;
  margin-bottom: 0px;
  padding-left: 0%;
  padding-right: 0%;
}
.Block:nth-of-type(1) .aboutBlockRight img {
  width: 83.5%;
  padding-bottom: 2.5%;
}
.Block:nth-of-type(2) .aboutBlockRight img {
  width: 62%;
  padding-bottom: 3.5%;
}
.Block:nth-of-type(3) .aboutBlockRight img {
  width: 82.5%;
  padding-bottom: 3.5%;
}
.Block:nth-of-type(4) .aboutBlockRight img {
  width: 82.5%;
  padding-bottom: 1.5%;
  mix-blend-mode: darken;
}

.click {
  transition: transform 3s ease;
  transform: rotateY(-90deg) skewY(-45deg);
  transform-origin: 0 0 0;
  -webkit-transition: -webkit-transform 3s ease;
  -webkit-transform: rotateY(-90deg) skewY(-45deg);
  -webkit-transform-origin: 0 0 0;
}

@-webkit-keyframes BookCover {
  0% {
    -webkit-transform: perspective(1200px) rotateY(0deg);
    -webkit-transform-origin: top left;
  }
  100% {
    -webkit-transform: perspective(1200px) rotateY(-90deg);
    -webkit-transform-origin: top left;
  }
}
@keyframes BookCover {
  0% {
    -webkit-transform: perspective(1200px) rotateY(0deg);
    -webkit-transform-origin: top left;
  }
  100% {
    -webkit-transform: perspective(1200px) rotateY(-90deg);
    -webkit-transform-origin: top left;
  }
}
