.MainContent {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0vh;
  margin: 0 auto;
  z-index: 1500;
  transition: opacity 1s ease-in-out;
}
.MainContent .mixBlendBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: hue;
}
.MainContent .content {
  position: relative;
  width: 60%;
  min-width: 1080px;
  height: 100vh;
  top: 2.5vh;
  margin: 0 auto;
  //   background-color: rgb(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  color: #ffffff;
  text-transform: uppercase;
  @media (max-width: 1080px) {
    min-width: auto;
    width: 90%;
  }
}
.logout {
  position: absolute;
  right: 2%;
  top: 2%;
  left: 0;
  width: fit-content;
  margin-left: auto;
  cursor: pointer;
  z-index: 9999;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
}

.cicada {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../../images/cicada.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.35s ease-out;
}

.gold1block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25vh;
  height: 25vh;
  background: url(../../images/gold1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  z-index: 200;
  @media (max-width: 1080px) {
    width: 10vh;
    height: 10vh;
  }
}
.gold1 {
  position: relative;
  width: 100%;
  height: 100%;
}

.gold2block {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25vh;
  height: 25vh;
  background: url(../../images/gold2.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  z-index: 200;
  @media (max-width: 1080px) {
    width: 10vh;
    height: 10vh;
  }
}
.gold2 {
  position: relative;
  width: 100%;
  height: 100%;
}
